.wrap {
  background-color: hsl(var(--h), var(--s), calc(var(--l) + 10%));
  border-radius: var(--indent-24-16);
  padding: 24px;
}

@media (max-width: 768px) {
  .wrap {
    border-radius: 0;
    height: 100%;
    width: 100%;
  }
}

@media (min-width: 769px) {
  .wrap {
    height: calc(100vh / 4 * 3);
    width: calc(100vw / 2);
  }
}

.container, .buttons, .selects {
  gap: var(--indent-20-16);
}

.container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.buttons, .selects {
  border: none;
  display: flex;
}

@media (max-width: 768px) {
  .buttons, .selects {
    flex-direction: column;
  }
}

.buttons {
  display: flex;
}

.selects {
  display: flex;
}
