.wrap {
  background-color: hsl(
    var(--h-blue), 
    calc(var(--s-blue) - 5%), 
    calc(var(--l-blue) + 15%)
  );
  border-radius: var(--indent-24-16);
  padding: 24px;
}

@media (max-width: 768px) {
  .wrap {
    border-radius: 0;
    height: 100%;
    width: 100%;
  }
}

@media (min-width: 769px) {
  .wrap {
    height: calc(100vh / 4 * 3);
    width: calc(100vw / 2);
  }
}

.container, .bottom, .top {
  gap: var(--indent-20-16);
}

.container {
  display: grid;
  grid-template-rows: auto 1fr auto;
  height: 100%;
}

.bottom, .top {
  border: none;
}

.top {
  display: grid;
}

.selects, .bottom {
  display: flex;
  gap: var(--indent-20-16);
}

@media (max-width: 768px) {
  .selects, .bottom {
    flex-direction: column;
  }
}
