.wrap,
.container { position: relative; }

.container {
  align-items: center;
  display: grid;
  grid-template-areas: 'select';
}

.container::after {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8px' height='12px' viewBox='0 0 8 12'%3E%3Clink xmlns='http://www.w3.org/1999/xhtml' rel='stylesheet' href='chevron.css' type='text/css'/%3E%3Cg%3E%3Crect style='fill:%23a7a8a9' width='4' height='4'/%3E%3Crect style='fill:%23a7a8a9' x='4' y='4' width='4' height='4'/%3E%3Crect style='fill:%23a7a8a9' y='8' width='4' height='4'/%3E%3C/g%3E%3C/svg%3E");
  content: '';
  grid-area: select;
  height: calc(var(--indent) * 2);
  justify-self: end;
  margin-right: calc(var(--indent) * 2);
  width: calc(var(--indent) * 3);
  z-index: 1;
}

.label {
  color: var(--secondary_color_light_bg);
  display: block;
  font-size: var(--smallest_font_size);
  padding-bottom: var(--indent);
}

.custom,
.native {
  font-family: 'roboto_regular';
  height: calc(var(--indent) * 12);
  position: relative;
  width: 100%;
}

.custom {
  display: none;
  left: 0;
  top: 0;
  position: absolute;
}

.native {
  appearance: none;
  background-color: #fff;
  border: 1px solid var(--border_color);
  border-radius: var(--indent);
  color: var(--primary_color_light_bg);
  font-size: var(--smallest_font_size);
  grid-area: select;
  letter-spacing: 1px;
  outline: none;
  padding: 0 var(--indent);
  position: relative;
  text-transform: uppercase;
}

.native::-ms-expand { display: none; }

.native:focus {
  box-shadow: white 0 0 0 0.2rem, #ff821f 0 0 0 0.4rem;
  outline: none;
}

@media (hover: hover) {
  .custom { display: block; }
  .native:focus + .custom { display: none; }
}

.opts_custom {
  background-color: #fff;
  border: 1px solid #6f6f6f;
  border-radius: 0.4rem;
  box-shadow: 0 0 4px #e9e1f8;
  display: none;
  left: 0;
  padding: 0.8rem 0;
  position: absolute;
  top: calc(3.8rem + 0.8rem);
  width: 100%;
  z-index: 9;
}

.opened,
.opened .opts_custom { display: block; }

.opt_custom {
  padding: 0.8rem;
  padding-left: 2.5rem;
  position: relative;
}

.opt_custom.isHover,
.opt_custom:hover {
  background-color: #865bd7;
  color: white;
  cursor: default;
}

.opt_custom:not(:last-of-type)::after {
  border-bottom: 1px solid #d3d3d3;
  bottom: 0;
  content: '';
  left: 0;
  position: absolute;
  width: 100%;
}


@media screen and (max-width: 768px) {
  .container::after { margin-right: calc(var(--indent) * 6); }

  .label {
    font-size: var(--smallest_font_size);
    padding-left: calc(var(--indent) * 6);
  }

  .native {
    background-color: var(--light_grey_bg);
    border: none;
    border-radius: 0;
    padding: 0 calc(var(--indent) * 6);
  }
}