.wrap {
  background-color: hsl(var(--h), var(--s), calc(var(--l) + 10%));
  border-radius: var(--indent-24-16);
  padding: 24px;
}

.container, .buttons, .selects {
  gap: var(--indent-20-16);
}

.container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.buttons, .selects {
  border: none;
}

.buttons {
  display: flex;
}

.selects {
  display: flex;
}