@import url(./fonts.css);
@import url(./vars.css);


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: hsl(
    var(--h-blue), 
    calc(var(--s-blue) - 10%), 
    calc(var(--l-blue) - 20%)
  );
}

#root {
  display: grid;
  grid-template-rows: auto 1fr;
  min-height: 100vh;
}
