:root {
  --base: 4px;

  --indent-80-48: calc(var(--base) * 20);
  --indent-64-40: calc(var(--base) * 16);
  --indent-48-32: calc(var(--base) * 12);
  --indent-40-32: calc(var(--base) * 10);
  --indent-32-24: calc(var(--base) * 8);
  --indent-24-16: calc(var(--base) * 6);
  --indent-20-16: calc(var(--base) * 5);
  --indent-16-12: calc(var(--base) * 4);
  --indent-12-8: calc(var(--base) * 3);
  --indent-8-4: calc(var(--base) * 2);

  --h-blue: 239;
  --s-blue: 29%;
  --l-blue: 54%;
  --blue: hsl(var(--h-blue), var(--s-blue), var(--l-blue));

  --h-green: 99;
  --s-green: 30%;
  --l-green: 68%;
  
  --green: hsl(var(--h-green), var(--s-green), var(--l-green));
  --green-light: hsl(
    var(--h-green),
    calc(var(--s-green) - 10%),
    calc(var(--l-green) + 20%)
  );
}

@media (max-width: 768px) {
  :root {
    --indent-80-48: calc(var(--base) * 12);
    --indent-64-40: calc(var(--base) * 10);
    --indent-48-32: calc(var(--base) * 8);
    --indent-40-32: calc(var(--base) * 8);
    --indent-32-24: calc(var(--base) * 6);
    --indent-24-16: calc(var(--base) * 4);
    --indent-20-16: calc(var(--base) * 4);
    --indent-16-12: calc(var(--base) * 3);
    --indent-12-8: calc(var(--base) * 2);
    --indent-8-4: var(--base);
  }
}
