.header, .main, footer {
  display: grid;
  place-items: center;
}

.header, .footer {
  background-color: hsl(var(--h), calc(var(--s) - 10%), calc(var(--l) - 35%));
}

.header {
  padding: calc(var(--indent-24-16) - 6px) 0;
}

.footer {
  padding: calc(var(--indent-24-16) - 5px) 0;
}